{% extends "base.html" %}

{% block app_content %}
    <h1>{{ article.title }}</h1>

    <div class="text-muted">
        <p>
            Créé le {{ dates.article_creation_date_for_display }}<br>
            Dernière mise-à-jour :
            {% if dates.article_update_date != dates.article_creation_date %}
                {{ dates.article_update_date_for_display }}
            {% endif %}
        </p>
    </div>

    <hr>

    <div>
        <p><b>Référence(s)</b></p>
        <p>
            {% for reference in article.references %}
                {% if reference.description.startswith("https://") or reference.description.startswith("http://") %}
                    [{{ loop.index }}] <a href="{{ reference.description }}", target="_blank">{{ reference.description }}</a>
                {% elif reference.description.startswith("www") %}
                    [{{ loop.index }}] <a href="http://{{ reference.description }}", target="_blank">{{ reference.description }}</a>
                {% else %}
                    [{{ loop.index }}] {{ reference.description }}
                {% endif %}<br>
            {% endfor %}
        </p>
    </div>

    <hr>
    
    <div>
        <p><b>Synthèse</b></p>
        <p style="white-space: pre-wrap">{{ article.synthesis }}</p>   <!-- "pre-wrap" for the spaces and break lines to be taken into account -->
    </div>

    <hr>

    <div class="article-options">
        <button id="modify-article"
                class="btn btn-info"
                data-url="{{ url_for('main.modify_article', article_number = article.id ) }}">Modifier l'article</button>
        <button id="delete-article"
                class="btn btn-danger"
                data-url="{{ url_for('main.article_deletion_confirmation_modal_content_loading', article_number = article.id) }}">Supprimer l'article</button>
    </div>

    <hr>

    <a href="{{ url_for('main.user_articles_list') }}">Retour à la liste de mes articles</a>

    <!-- Bootstrap modal -->
    <div class="modal fade" id="modal-article" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/article_scripts.js') }}"></script>
{% endblock %}
