{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/create_article.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/references_list.css') }}">
{% endblock %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <hr>
    <div class="container">
        <form action = ""
              method = "post"
              id="create-article-form"
              data-url="{{ url_for('main.add_reference',
                                   user_id = user_id,
                                   current_article_id = current_article_id) }}">
            {{ form.hidden_tag() }}
            <div class="row">
                <div id="title-field" class="form-group" data-url="{{ url_for('main.check_article_title') }}">
                    {{ wtf.form_field(form.title, class = "form-control") }}
                </div>
                <div class="form-group">
                    {{ wtf.form_field(form.references, class = "form-control", placeholder = "Indique une référence puis appuie sur Entrée") }}
                </div>
                <div id="references-container">
                    {% include "main/references_list.html" %}
                </div>
                <div class="form-group">
                    {{ wtf.form_field(form.synthesis, class = "form-control", rows = "8") }}
                </div>
                <button type="submit" class="btn btn-success">{{ submit_button_title }}</button>
            </div>  
        </form>
    </div>
    <br>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/check_article_title.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/add_reference.js') }}"></script>
{% endblock %}
