{% import "bootstrap/wtf.html" as wtf %}

<form id="form-article-deletion"
      action="{{ url_for('main.delete_article', article_number = article_number ) }}"
      method="POST">
    {{ form.hidden_tag() }}

    <!-- form header -->
    <div class="modal-header">
        <h4 class="modal-title">Suppression de l'article en cours</h4>
    </div>

    <!-- form body -->
    <div class="modal-body">
        <h3>Veux-tu <strong>VRAIMENT</strong> supprimer cet article ?</h3>
    </div>

    <!-- form footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-danger">Je confirme la suppression</button>
    </div>

</form>
