{% for reference in references %}
    <div class="row">
        <div class="col-md-1">
            [{{ loop.index }}]
        </div>
        <div class="col-md-9">
            {% if reference.description.startswith("https://") or reference.description.startswith("http://") %}
                <a href="{{ reference.description }}", target="_blank">{{ reference.description }}</a>
            {% elif reference.description.startswith("www") %}
                <a href="http://{{ reference.description }}", target="_blank">{{ reference.description }}</a>
            {% else %}
                {{ reference.description }}
            {% endif %}
        </div>
        <div class="col">
            <div class="btn btn-warning btn-sm"
                 data-url="{{ url_for('main.delete_reference',
                                      reference_id = reference.id,
                                      current_article_id = current_article_id) }}">delete
            </div>
        </div>
    </div>
    <br>
{% endfor %}
