{% extends "base.html" %}

{% block app_content %}
    <h1>Profil de {{ user.username }}</h1>

    <hr>

    <div>
        <div class="list-group-item list-group-item-info">
            Nom d'utilisateur
        </div>

        <br>&nbsp;&nbsp;{{ user.username }}

        <br><br>

        <div class="list-group-item list-group-item-info">
            Adresse email
        </div>

        <br>&nbsp;&nbsp;{{ user.email }}

    </div>

    <hr>

    <button id ="modify-user-profile" class="btn btn-info" data-url="{{ url_for('user.user_profile_edition') }}">Modifier mon profil</button>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/user_scripts.js') }}"></script>
{% endblock %}
