.container
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
}

h1
{
    text-align: center;
    position: absolute;
    top: 10%;
    left: 25%;
    color: rgb(76, 76, 81);
}

/* Pris directement de bootstrap */
.alert
{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* Pris directement de bootstrap */
.alert-danger
{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.username-field
{
    margin-top: 25%;
    margin-bottom: 5%;
}

.password-field
{
    margin-bottom: 3%;
}

input
{
    height: 50px;
}

a
{
    text-decoration: none;
    font-style: italic;
    float: right;
    margin-bottom: 5%;
    color: white;
    font-size: 0.8em;
}

.field, .btn
{
    height: 50px;
}

body
{
    background-image: url("../images/reunion.jpg");
    background-size: cover;
}
