.form-elements
{
    /* vertical centering of form */
    margin-top: 40vh;
    transform: translateY(-60%);

    /* horizontal centering of form elements */
    display: flex;
    justify-content: center   
}

.login-page-title
{
    margin-top: 5%;
    text-align: center;
    color: rgb(76, 76, 81);
}

.username-field, .password-field, #test-link, #reset-password-link, #login-button, .github-login-button
{
    margin-bottom: 5%;
}

#test-link
{
    float: left;
}

#reset-password-link
{
    float: right;
}

.login-links
{
    text-decoration: none;
    font-style: italic;
    margin-bottom: 1%;
    color: white;
    font-size: 0.8em;
}

#username, #password, .field, .btn, .github-login-button
{
    height: 50px;
    max-width: 200px;
}

.github-login-button
{
    width: 200px;
}

.btn:hover
{
    border: 1px solid black;
    background: rgb(242, 241, 240);
}

.github-login-button
{
    border-radius: 5px;
}

.github-login-button:hover
{
    border: 1px solid black;
}

body
{
    background-image: url("../images/reunion.jpg");
    background-size: cover;
}
