<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/login.css') }}">
    </head>

    <body>
        <h1>Bienvenue sur le site du Synthetiseur</h1>

        <div class="container">
            <form action = "" method = "post">
                {{ form.hidden_tag() }}

                <div class="row">
                    <div class="username-field">
                        {{ form.username(size = 30, placeholder = "Nom d'utilisateur") }}<br>
                        {% for error in form.username.errors %}
                            <span style = "color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="password-field">
                        {{ form.password(size = 30, placeholder = "Mot de passe") }}<br>
                        {% for error in form.password.errors %}
                            <span style = "color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div>
                        <a href="{{ url_for('reset_password_request') }}">Mot de passe oublié</a>
                    </div>

                    <button type="submit" class="btn" style="width: 100%">Connexion</button>
                </div>
            </form>
        </div>
    </body>
</html>
